<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <h1 class="title"><%= title %></h1>
    <button type="submit" class="addButton" id="addButton" onclick="hrefFunction()">Add a message</button>
    
    <p class="sideTitle">Messages</p>
    <% if (messages.length){ %>
        <div class="container">
        <% for(let message of messages) { %>
            <div class="messagesContainer">
                <p class="author"><%= message.user %></p>
                <hr>
                <p class="message"><%= message.text %></p>
                <hr>
                <p class="dateOfMessage"><%= message.added %></p>
                <button class="deleteButton">Delete</button>
            </div>
        <% }} else { %>
            <p>no messages yet</p>
            <% } %>
        </div>
        <script>
             document.getElementById("addButton").addEventListener("click", redirectFunction);
        
        function redirectFunction(){
            window.location.href = "http://localhost:3000/new"
        }
        </script>
</body>
</html>